In [3]:
people = {
    'first' : ['Sunny', 'Raunak', 'Siddharth'],
    'last' : ['Tamang', 'Tamang', 'Tamang'],
    'email' : ['sunny@email.com', 'raunak@email.com', 'sid@email.com']
}

In [1]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

       first    last             email
0      Sunny  Tamang   sunny@email.com
1     Raunak  Tamang  raunak@email.com
2  Siddharth  Tamang     sid@email.com